/* src/styles/layout.css */
:root {
  --gutter: 24px;
  --max-width: 1280px;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-inline: auto;
}

section {
  padding-block: clamp(3rem, 3vw, 8rem);
  position: relative;
}
